/* Write your code here. */
/* Write your code here. */
.faq-container {
  border-radius: 5px;
  border-width: 2px;
  border-color: #d7dae6;
  border-style: solid;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.faq-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.questionText {
  font-weight: 500;
  font-family: roboto;
  color: #52606d;
  font-size: 18px;
}

.plus-minus-btn {
  background-color: transparent;
  border-width: 0px;
}

.plus-minus-img {
  width: 20px;
  height: 20px;
}

.faq-answer-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.faq-ans {
  color: #9aa5b1;
  font-family: roboto;
}

.divider {
  color: #e4e7eb;
  margin: 5px;
  margin-left: 0px;
}
